body{
    margin:0;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
}
ul,li{
    margin:0;
}
a{
    text-decoration: none;
}

.user-msg {
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    font-size: 1.5rem;
    border-radius: 15px;
    border: 3px solid;
}

.user-msg.success {
    color: Green;
}

.user-msg.fail {
    color: red;
}
.book-app{
    /* display: flex; */
    /* flex-direction: column; */
    height: 80vh;
    /* justify-content: space-between; */
}
.app-header{
    background-color: lightskyblue;
    padding: 10px;
}
.home-page{
    height: 100vh;
    background-color: gold;
}
.about-page{
    height: 100vh;
    background-color: violet;
}
.book-filter{
    background-color: gainsboro;
}
.book-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.book-details{
    /* position: fixed;
    top:50%;
    right:50%;
    transform: translate(50%,-50%);
    width:80%;
    height: 60vh;
    background-color: rgb(200, 200, 200);
    color: rgb(14, 14, 14);
    border-radius: 3em; */
    display: flex;
    padding-block: 20px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.long-text{
    text-align: center;
}
.book-details img{
    height: 150px;
}
.red{
    color:rgb(153, 0, 0)
}
.green{
    color:lime
}
.book-preview-container{
    height: 200px;
    width: 380px;
    margin: 10px;
    border:1px solid lightsteelblue;
}
.book-preview{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    /* height: 5vh; */
    background-color: gold;
}

.app-footer{
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    text-align: center;
    background-color: lightyellow;
}